# Data directories
data/
data/raw/
data/processed/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE and OS files
.idea/
*.DS_Store

# Miscellaneous
*.log 
